<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>View Attendance</title>
</head>
<body>
    <div class="container">
        <center>
        <h1>View Attendance</h1>
        <table>
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Roll Number</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.roll_number }}</td>
                        <td>{{ record.date }}</td>
                        <td>{{ record.status }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('index') }}">Back to Home</a>
        </center>
    </div>
</body>
</html>
